<% if @user %>
  <h1>Welcome, <%= @user.name %></h1>
<% end %>

<ul>
  <% @listings.each do |listing| %>
    <li><%= listing %></li>
  <% end %>
</ul>

<form action="/users/new" method="get">
    <input type="submit" value="Sign Up">
  </form>