<!-- in views/listing/new.erb -->

Please fill out the below information to add a listing

<form action="/listings" method="post">
  <input type="name" name="name" placeholder="Name of listing">
  <input type="date" name="free_date">
  <input type="submit" value="Create listing">
</form>
