<!-- in views/sessions/new.erb -->

<form action="/sessions" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Sign in" />
</form>

#maybe put name back in